CloudComputing/CloudTP1/nbproject/private/private.xml
CloudComputing/CloudTP1/nbproject/project.properties
CloudComputing/CloudTP1/nbproject/private/private.properties

/CloudComputing/SystemeTP2/nbproject/private/
/CloudComputing/SystemeTP2/build/
/Symfony/SymfonyBlog/nbproject/private/
/Symfony/SymfonyTP2/nbproject/private/
/CloudComputing/JSFProject/nbproject/private/
/CloudComputing/JSFProject/build/