@model MVC.ECommerce.Models.HomeViewModel
@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron">
    <h1>ECommerce</h1>
</div>

<div class="container">
    <div class="list-group">
        <li class="list-group-item active"><span class="text-bold">Produits les plus chers :</span></li>
        @foreach (var produit in Model.produits)
        {
            <a class="list-group-item" href="Produit/GetProduit/@produit.Id" title="@produit.Libelle">
                <span>@produit.Libelle</span>
                <span class="badge text-bold">@produit.Prix €</span>
            </a>
        }
    </div>
    <div class="list-group">
        <li class="list-group-item active"><span class="text-bold">Dernières commandes :</span></li>
        @foreach (var commande in Model.commandes)
        {
            <li class="list-group-item">@commande.DateCommande</li> 
        }
    </div>
</div>