@model List<MVC.ECommerce.Models.ProduitViewModels>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Liste des produits</h1>
</div>

<div class="container">
    <div class="row text-center">
        @Html.ActionLink("Ajouter un produit", "AddProduit", "Produit", null, new { @class = "btn btn-primary" })
    </div>
    <div class="list-group">
        @foreach (var produit in Model)
        {
            @Html.ActionLink(@produit.Libelle, "GetProduit", "Produit", new { id = @produit.Id }, new { @class = "list-group-item" })
        }
    </div>
</div>