{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articles :</h1>
    <div id="wrapper">
        <ul>
            {% for article in articles %}
                <li>{{ article.titre }}</li>
            {% endfor %}
        </ul> 
        <a href="{{path('addArticle')}}" class="badge badge-primary">Add Article</a>
    </div>
{% endblock %}