{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articles :</h1>
    <div id="wrapper">
        <ul>
            {% for article in articles %}
                <li>{{ article.titre }}</li>
            {% endfor %}
        </ul>
        {% if is_granted('ROLE_ADMIN') %} 
            <a href="{{path('addArticle')}}" class="badge badge-primary">Add Article</a>
        {% endif %}
    </div>
{% endblock %}