{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sport :</h1>
    <div id="wrapper">
        <ul>
            {% for article in articles %}
                <li>{{ article.titre }}</li>
            {% endfor %}
        </ul>    
    </div>
{% endblock %}
